@font-face {
  font-family: Roboto Slab;
  src: url('../font/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: Roboto Slab;
  src: url('../font/RobotoSlab-Bold.ttf');
  font-weight: bold;
}

body {
  color: #000000;
  font-family: 'Roboto Slab';
  font-size: 1rem;
}

.barra-navegacion {
  border-bottom: 1px solid #979797;
  margin-bottom: 1em;
  padding-bottom: 1em;
  color: #000000;
}

.barra-navegacion + div {
  padding-top: 1em;
}

footer {
  border-top: 1px solid #979797;
  padding-top: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
}

footer ul {
  padding-left: 0%;
}

ul li {
  list-style: none;
}

section ~ section {
  margin-top: 5em;
}

ol {
  list-style-type: upper-roman;
}

.scroleable {
  height: 400px;
  overflow-y: auto;
}

label {
  font-weight: bold;
}

blockquote > p {
  font-size: 0.8rem;
}

.shadow {
  padding-bottom: 1em;
}

.fondo-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a > img:hover {
  filter: drop-shadow(0em 0em 1em #979797);
}

/* Los siguientes estilos podrian ser incluidos al archivo de Bootstrap */

.item-link a:link, .item-link a:visited {
  text-decoration: none;
  color: #000000;
}

.item-link a:hover, .item-link a:active {
  text-decoration: none;
  color: #979797;
}

.carousel-item {
  transition: transform 3s ease, opacity 1s ease-out;
}

.btn-link {
  text-decoration: none;
  color: #000000;
}

.btn-link:hover {
  text-decoration: none;
  color: #979797;
}

.btn-link:focus {
  text-decoration: none;
  color: #000000;
}

.list-group-item-action {
  color: #000000;
}

.list-group-item-action:hover, .list-group-item-action:focus, .list-group-item-action:active {
  color: #000000;
  background-color: #c8c8c8;
}

.list-group-item.active {
  color: #000000;
  background-color: #c8c8c8;
  border-color: #000000;
}